* {
   overflow-y: hidden;
   margin: 0;
   transition-duration: 0.2s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    margin: 0;
    color: deepskyblue;
}

h1 {
    color: black;
}

.bayan {
    max-width: 40%;
    margin: 1vh auto;
}

.bayan:hover {
    color: rgb(0, 0, 0);
}

.bayan:hover .icon {
    opacity: 1;
}

.bayan-item {
    border-bottom: 0.1vh solid rgb(199, 199, 199);
}

p {
    display:block;
    width: calc(100% - 2vh);
}

.bayan-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    margin: 0;
    cursor: pointer;
}

.icon {
    background-image: url(src/icon/X-icon.svg);
    background-repeat: no-repeat;
    width: 2vh;
    height: 2vh;
    opacity: 0;
}

.bayan-input {
    width: 0;
    height: 0;
    appearance: none;
}

.bayan-input:checked ~ .bayan-title .bayan-img {
    max-height: 100vh;
}

.bayan-input:checked ~ .bayan-title .icon {
    transform: rotate(45deg);
}

.bayan-input:checked ~ .bayan-title {
    color: black;
}

.bayan-img {
    display: block;
    max-height: 0;
    margin: auto;
}

 @media(min-width: 900px) {
    .bayan-title:hover .bayan-img{
        max-height: 100vh;
    }
    
    .bayan-title:hover .icon {
        transform: rotate(45deg);
    }
 }


@media(max-width: 821px){

    body {
        font-size: 1.5rem;
    }

    .bayan {
        max-width: 70%;
    }

    .icon {
        width: 1.5vh;
        height: 1.5vh;
    }

     p {
        width: calc(100% - 1.5vh);
    }
}


@media(max-width: 320px){

    body {
        font-size: 1rem;
    }

    .bayan {
        max-width: 90%;
    }
}